<!DOCTYPE html>
<html lang="en" xmln:th="http://www.thymeleaf.org"
      xmlns:xmln="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>log in</title>
</head>
<body>
<form th:action="@{/login}" th:object = "${login}" method="GET">

    <div class = "form-group">
        <label>Enter email</label>
        <input
                type = "text"
                name = "email"
                th:fileld = "*{email}"
                class = "form-control"
                placeholder = "Enter email"/>
    </div>

    <div class = "form-group">
        <label>Enter password</label>
        <input
                type = "text"
                name = "password"
                th:fileld = "*{password}"
                class = "form-control"
                placeholder = "Enter password"/>
    </div>

    <div class = "box-footer">
        <button type ="submit" class ="btn btn-primary">
            log in
        </button>
    </div>
</form>

</body>
</html>